spring.datasource.url=jdbc:mysql://localhost:3306/project_selection?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD_HERE
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.properties.hibernate.format_sql=true

spring.thymeleaf.cache=false

# Mail (configure with your SMTP credentials)
spring.mail.host=smtp.qq.com
spring.mail.port=587
spring.mail.username=YOUR_SMTP_EMAIL_HERE
spring.mail.password=YOUR_SMTP_AUTH_CODE_HERE
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

app.base-url=http://localhost:8080

server.port=8080

# Session timeout: 30 minutes of inactivity
server.servlet.session.timeout=30m
