<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard - Project Selection System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/nav :: sharedNav}"></div>

<div class="container">
    <h2>Teacher dashboard</h2>
    <p>Welcome. Teacher features will appear here as they are implemented.</p>
</div>

</body>
</html>